.plot-type-menu {
  .ant-dropdown-menu {
    background-color: #474747;
  }
  .ant-dropdown-menu-item {
    color: #fff;
  }
  .ant-dropdown-menu-item:hover {
    background-color: #6b6b6b;
  }
}
.ant-select-dropdown-custom {
  // background-color: rgba(71, 71, 71, 0.8) !important;
  z-index: 9999 !important;
}